@import "../SharedStyles/colors";

.more-options, .playlists {
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
  position: absolute;
  font-size: 1.2em;
  line-height: 1.5em;
  color: $color-font;
  background-color: $color-background2;
  border: 1px solid $color-search-bar-border;
}

.more-options {
  right: 60px;
  width: 170px;
}

.more-options div, .playlists div {
  padding: 10px;
}

.more-options div:hover, .playlists div:hover {
  color: $color-accent;
}

.highlight td:not(.song-row-icon-wrapper) {
  color: $color-accent;
}

.playlists {
  width: auto;
  right: 230px;
  padding-right: 10px;
}

//TODO makes scrolling impossible
.back-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.song-row td {
  padding-left: 5px;
}