@import "../SharedStyles/style";
@import "../SharedStyles/colors";
@import "../SharedStyles/typeface";


.song-table {
  font-family: $font-family-regular;
  font-weight: 400;
  color: $color-font;
  border-collapse: collapse;
  width: 100%;
}

.song-table, td, th {
  border: none;
  border-bottom: 1px solid $color-font;
  padding: 8px 0;
  font-size: 0.9rem;
}
.song-table-header th {
  text-align: left;
  font-family: $font-family-regular;
  text-transform: uppercase;
  font-weight: 300;
  color: transparentize($color-font, .5);
}

.song-row {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.song-name {
  font-weight: 700;
}
.song-table-selected-row {
  color: $color-accent;
}

.song-row-icon-wrapper {
  text-align: right;
}
.song-row-icon {
  margin-right: 15px;
  font-size: 1.3em;
  transition: all ease-in-out 100ms;
  &:hover {
    color: lighten($color-accent, 10%);
  }
}