@import "../SharedStyles/variables";
@import "../SharedStyles/colors";

.now-playing-container {
  padding-right: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: $sidebar-width - 20px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.song-title {
  //position: absolute;
  font-weight: 700;
  margin: 0;
}

.song-title-scrolling {
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  -moz-animation: scrollingText 15s linear infinite;
  -webkit-animation: scrollingText 15s linear infinite;
  animation: scrollingText 15s linear infinite;
}

.song-info {
  color: $color-font-secondary;
  margin: 0;
}

@-moz-keyframes scrollingText {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrollingText {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrollingText {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}