@import "../SharedStyles/style";
@import "../SharedStyles/colors";
@import "../SharedStyles/typeface";

.search-bar-menu, .search-bar {
  background-color: transparentize($color-font, .7);
  border: solid 5px $color-search-bar-bg;
  float: left;
  font-size: 1.2em;
  color: $color-font;
  padding: 5px;
  margin-top: 5px;
  line-height: 1.2em;
}

.search-bar-menu {
  width: 15%;
  margin-left: 20px;
  border-radius: 50px 0 0 50px;
}

.search-bar {
  width: 60%;
  border-radius: 0 50px 50px 0;
  &::placeholder { color: darken($color-font, 20%) };
}

.search-bar-icons {
  width: 20%;
  height: 100%;
  float: right;
}