@import "../SharedStyles/style";
@import "../SharedStyles/colors";
@import "../SharedStyles/typeface";

.settings-wrapper {
  max-width: 500px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 60px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-items: end;
}

// buttons
.settings-wrapper div:nth-child(2n) {
  background: $color-settings-input;
}