@import "../SharedStyles/style";
@import "../SharedStyles/colors";

.fullscreen-wrapper {
  background-color: $color-background2;
}

.logo-big {
  font-size: 10vw;
}

.fancy-subheading {
  font-size: 5vw;
}

.welcome-images {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 1fr 50px;
  grid-column-gap: 60px;
  grid-row-gap: 15px;
  justify-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.welcome-images img {
  width: 400px;
  height: auto;
}