@import "../../SharedStyles/colors";
@import "import-common";


.import-area {
  border-radius: 50px;
  width: 500px;
  max-width: 90%;
  border: 5px dashed white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all ease-in-out 150ms;
}

.import-area-dragged-over {
  background: transparentize($color-success, .8);
}

.go-back {
  position: absolute;
  top: 15px;
  left: 15px;
  color: $color-font;
  font-size: 50px;
  cursor: pointer;
}

.big-icon {
  font-size: 150px;
}