$color-background: #2f3640;
$color-sidebar-bg: #1f232a;
$color-background2: #2e333f;
$color-popup-background: rgba(0, 0, 0, .8);
$color-search-bar: #6d7179;
$color-settings-input: #6d7179;
$color-search-bar-border: #5e5e5e;
$color-input-border: #707070;

$color-font: white;
$color-accent: #e84118;
$color-font-secondary: #8e8e8e;
