@import "colors";
@import "variables";

.fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
}

.sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width - $sidebar-padding*2;
  height: calc(100vh - #{$now-playing-bar-height});
  background-color: $color-sidebar-bg;
  padding: $sidebar-padding;
}

.search-bar-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100vw - #{$sidebar-width});
  height: $search-bar-height;
  background-color: $color-background;
  display: flex;
  flex-flow: row nowrap;
}

.center-wrapper {
  overflow: auto;
  position: absolute;
  right: 0;
  top: $search-bar-height;
  width: calc(100vw - #{$sidebar-width} - #{$center-padding} * 2);
  max-height: calc(100vh - #{$search-bar-height} - #{$now-playing-bar-height} - #{$center-padding} * 2);
  min-height: calc(100vh - #{$search-bar-height} - #{$now-playing-bar-height} - #{$center-padding} * 2);
  padding: $center-padding;
}

.now-playing-bar-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: $now-playing-bar-height;
  background-color: $color-background2;
  overflow-y: hidden;
}

.row {
  //flex: 1 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap
}

.take-full-row {
  flex-basis: 100%;
}

.align-center {
  justify-content: center;
}

.margin-b {
  margin-bottom: $margin-step;
}

.margin-l {
  margin-left: $margin-step / 2;
}
.margin-r {
  margin-right: $margin-step / 2;
}

.max-100 {
  max-width: 100%;
}

.inline-block {
  display: inline-block;
}