@import "fonts";
@import "colors";

$font-family-regular: 'Raleway', 'Seoge UI', sans-serif;
$font-family-script: 'Vladimir Script', cursive;


body {
  font-family: $font-family-regular;
  color: $color-font;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
  font-family: $font-family-regular;
  font-weight: 400;
}
h2 {
  font-size: 1.5em;
  font-family: $font-family-regular;
  font-weight: 300;
}
.text-center {
  text-align: center;
}
.logo {
  margin-top: 0;
  font-size: 3.5em;
  color: $color-accent;
  font-weight: 700;
}

.fancy-subheading {
  margin: 0;
  font-weight: lighter;
  font-size: 2.5em;
  color: $color-font;
  font-family: $font-family-script;
}