@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Raleway-Thin.ttf") format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/Raleway-ExtraLight.ttf") format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Raleway-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Raleway-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Raleway-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Raleway-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Raleway-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/Raleway-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Raleway-Heavy.ttf") format('truetype');
}

@font-face {
  font-family: 'Vladimir Script';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/vladimir.TTF") format('truetype');
}